.card{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    width: 248px;
    min-height: 471px;
    .image{
        img{
            width: 250px;
        }
    }
    span{
        display: block;
        color: #7b7b7b;
        text-align: center;
    }
    .bookLink{
        background: #15489f;
        display: inline-block;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        color: #fff;
        position: absolute;
        bottom: -12px;
        left: 49%;
        font-size: 12px;
        cursor: pointer;
        i{
            left: 5px;
            top: 3px;
            position: relative;
        }
        }
}